<h3>side a: <%= @side_a %> side b: <%= @side_b %> side c: <%= @side_c %> </h3>
<h3><%= @triangle_output %></h3></h3>
<a href='/'>Return to home page</a>

<div class = "triangle_visual" style= "<%= @triangle.visual_triangle %>"  >
</div>
